@model IEnumerable<CentricProject.Models.CoreValue>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.recognizer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recognized)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recognitionDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.recognizer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recognized)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recognitionDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.coreValueID }) |
            @Html.ActionLink("Details", "Details", new { id=item.coreValueID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.coreValueID })
        </td>
    </tr>
}

</table>
